.ipynb_checkpoints/
*.joblib
data/raw/
data/processed/
data/external/
data/external/*zip
data/external/

# Environment variables
.env
.env.*

!.env.example

# Application logs
logs/
*.log

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
